<h2>{{ heading_title }}</h2>
<table class="list">
    <thead>
        <tr>   
        </tr>
    </thead>
    <tbody>
        <tr><td class="left"><strong>{{ text_DealerPaymentId }}</strong></td> <td class="left">{{ DealerPaymentId }}</td>  </tr>
        <tr><td class="left"><strong>{{ text_sepet_total }}</strong></td> <td class="left">{{ sepet_total }}</td></tr>

        <tr><td class="left"><strong>{{ text_komisyon }}</strong></td><td class="left">{{ komisyon }}</td></tr>
        <tr><td class="left"><strong>{{ text_taksit_sayi }}</strong></td><td class="left">{{ taksit_sayi }}</td></tr>
        <tr><td class="left"><strong>{{ text_creditcart }}</strong></td><td class="left">{{ creditcart }}</td></tr>
        <tr><td class="left"><strong>{{ text_rescode }}</strong></td><td class="left">{{ rescode }}</td></tr>



    </tbody>
</table>



</table>
